.env
.env.local
.env.production
.DS_Store
node_modules/
vendor/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

storage/logs/*.log
storage/backups/
public/uploads/

!.gitkeep
!storage/logs/.gitkeep
!storage/backups/.gitkeep
!public/uploads/.gitkeep
